<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <section class="banner">
        <section class="home container">
            <div class="qs-container"><!-- qs = quem somos -->
                <p>São Paulo</p> 
                 <p text-align :center>Av. Celso Garcia, 3000</p>
                 <p>Tel:(11)2585-9999</p> <br>

                 <p>Rio de janeiro</p> 
                 <p>Rua Ribeirinho , 279</p>
                 <p>Tel:(21)2121-4545</p>
            </div><!-- qs-container -->

            <div class="img-container">
                <img src="./Imagens/esmalte1.jpg">
            </div><!-- img-container -->

        </section><!-- home -->
    </section>
        
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>