body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    background-color: rgb(255, 203, 219);
    
}

 a {
    color:white;
    text-decoration:none;
}

#rodape {
        text-align: center;
        border:"0" width="100%" cellpadding
        
}
   
 .preço{
     color:red;
     margin-left: 1px; 
    }
 
    
.nome{
    font-weight: bolder;
 }

 
 label{
    color:black;
 }

.produto{
        width:"20%" align:"center" valign:"bottom"
    }

    
   .cabeca marquee {
    
    font-weight: 400;
    margin-top: -25px;
    padding-top: -15px;
    transition-duration: 20s;
}

