<div class="container">
    <ul>
        <li>Cleo Nails!</li>
        <li>Redes Sociais</li>
    </ul>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/quemsomos">Nossas lojas</a></li>
        
        
        <li><a href="/contato">Cadastro</a></li>
    </ul>
</div>