<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e5387a">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Cleo Nails!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-5">
            <!-- <li class="nav-item"><a class="nav-link" href="/">Home</a></li> -->
            <li class="nav-item"><a class="nav-link" href="/quemsomos">Nossas lojas</a></li>  
            
            <li class="nav-item"><a class="nav-link" href="/contato">Cadastro</a></li>
          </ul>

              <ul class="navbar-nav  ms-auto">
                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a></li> 
              </ul>

            </div>
          </nav>
                        <!-- Modal -->
                        
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="row g-3">
        <!-- Login Inputs -->
        <div class="mb-3">
          <label for="emailmoderador" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="emailmoderador" placeholder="nome@exemplo.com.br">
        </div>
        <div class="mb-3">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <!-- login -->

         <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
        

      </div>
    </form>
      <div class="modal-footer">

        
      </div>
    </div>
  </div>
</div>
        
          
        </div>
      </div>
  </nav>
  </header>
