<html>

    <%- include('../partials/head'); %>

    <body>

        <h1>TEXTO</h1>
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <section class="banner">

            <section class="home container">
                <div class="qs-container"><!-- qs = quem somos -->
                    <h2 >Cleo Nails!</h2>
                    <p class="text-center">A melhor lojas de cosméticos do Brasil </p>
                    <a class="qs-link" href="/quemsomos" href="">Nossas lojas</a>
                </div><!-- qs-container -->
    
                <div class="img-container">
                    
                </div><!-- img-container -->
            </section>
        </section>

        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>
            